In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/haram4th/ablearn/main/galaxy.csv")

In [3]:
data.head()

,BuyItNow,startprice,carrier,color,productline,noDescription,charCountDescription,upperCaseDescription,sold
0,0,199.99,NaN,White,Galaxy_S9,contains description,0,0,1
1,0,235.00,NaN,NaN,Galaxy_Note9,contains description,0,0,0
2,0,199.99,NaN,NaN,Unknown,no description,100,2,0
3,1,175.00,AT&T,Space Gray,Galaxy_Note9,contains description,0,0,1
4,1,100.00,NaN,Space Gray,Galaxy_S8,contains description,0,0,1

In [4]:
data.columns

Index(['BuyItNow', 'startprice', 'carrier', 'color', 'productline',
       'noDescription', 'charCountDescription', 'upperCaseDescription',
       'sold'],
      dtype='object')

### 미국 이베이 사이트의 삼성 휴태폰 판매 데이터
* BuyItNow: 바로구매
* startprice: 시작가격
* carrier: 통신사
* color: 휴대폰 색상
* productline: 휴대폰 모델명
* noDescription: 제품 설명글 유무
* charCountDescription: 설명글의 길이
* upperCaseDescription: 대문자 설명, 대문자로 표기 - 강조
* sold: 판매결과 - 종속변수, Target

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   BuyItNow              1485 non-null   int64
 1   startprice            1485 non-null   float64
 2   carrier               316 non-null    object
 3   color                 892 non-null    object
 4   productline           1485 non-null   object
 5   noDescription         1485 non-null   object
 6   charCountDescription  1485 non-null   int64
 7   upperCaseDescription  1485 non-null   int64
 8   sold                  1485 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 104.5+ KB

In [7]:
data.isna().sum()

BuyItNow                   0
startprice                 0
carrier                 1169
color                    593
productline                0
noDescription              0
charCountDescription       0
upperCaseDescription       0
sold                       0
dtype: int64

In [8]:
data.dropna()

,BuyItNow,startprice,carrier,color,productline,noDescription,charCountDescription,upperCaseDescription,sold
3,1,175.00,AT&T,Space Gray,Galaxy_Note9,contains description,0,0,1
9,1,20.00,AT&T,Midnight Black,Galaxy_S7,no description,96,41,1
19,0,149.00,Sprint/T-Mobile,White,Galaxy_Note10,contains description,0,0,0
52,0,210.00,Sprint/T-Mobile,White,Galaxy_S8,no description,70,3,0
58,0,79.99,AT&T,Midnight Black,Galaxy_S7,no description,93,4,1
...,...,...,...,...,...,...,...,...,...
1451,0,279.99,AT&T,Space Gray,Galaxy_Note10,no description,48,9,0
1453,0,129.95,AT&T,Midnight Black,Galaxy_S8,no description,100,80,0
1466,0,90.00,AT&T,Midnight Black,Galaxy_S7,contains description,0,0,0
1469,0,249.99,Sprint/T-Mobile,Space Gray,Galaxy_Note10,contains description,0,0,1
1484,0,119.99,AT&T,Midnight Black,Galaxy_S7,no description,96,5,0

In [9]:
data['carrier']

TypeError: unsupported operand type(s) for +: 'int' and 'str'